%nav.navbar.navbar-default
  -#.container-fluid
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to "Photogram", root_path
      -#%ul.nav.navbar-nav
      -#  %li
      -#    %a{:href => "#"}
      -#      Link
      -#      %span.sr-only (current)
      -#  %li
      -#    %a{:href => "#"} Link
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = render :partial => 'notifications/notificiation_dropdown'
          %li
            = link_to "New Post", new_post_path
          %li.active
            = link_to "New Post", new_post_path
          %li
            = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Register", new_user_registration_path
